<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogFolderPath" value="C:\Users\tsainic\OneDrive - Mars Inc\Documents\Github\AutomationHelper\logs\AutomationHelper.txt"/>
    <add key="Url_Incidents_OpsAppLasAnz" value="https://marsprod.service-now.com/nav_to.do?uri=%2Fincident_list.do%3Fsysparm_query%3Dactive%253Dtrue%255Eassignment_group%253Dd958b186372e4280da6ea9c2b3990e40%26sysparm_first_row%3D1%26sysparm_view%3D"/>
    <add key="Url_Problems_OpsAppLasAnz" value="https://marsprod.service-now.com/nav_to.do?uri=%2Fproblem_list.do%3Fsysparm_query%3Dassignment_group%253Dd958b186372e4280da6ea9c2b3990e40%255Estate!%253D4%255Estate!%253D5%26sysparm_first_row%3D1%26sysparm_view%3D"   />
  </appSettings>
</configuration>